

body{
    height:100vh;
    width:100vw;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width:150px;
    height: 150px;
    border: 2px solid black;
    outline: none;
}
button:hover{
 border: 2px #ffffff;
 border-radius: 7px;
 cursor: wait;
 opacity:.8;
 transition: .5s ease-in-out;
}
#btn__one{
    background-color: #e27d60;
}
#btn__two{
    background-color: #85dcb8;
}
#btn__three{
    background-color: #41B3A3;
}
#btn__four{
    background-color: #E8A87C;
}
